<div data-hook="toolbar" class="toolbar">
  <ul class="actions">
    <li id="new_product_link">
      <%= button_link_to "New download", new_admin_download_path, {:remote => true, :icon => 'add', :id => 'admin_new_download'} %>
    </li>
  </ul>
  <br class="clear">
</div>

<h1>Listing downloads</h1>

<div id="new_download"></div>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.download.name') %></th>
    <th><%= t('activerecord.attributes.download_category.name') %></th>
    <th><%= t('activerecord.attributes.download.products') %></th>
    <th class="tc"><%= t('scaffold.actions') %></th>
  </tr>
  <% @downloads.each do |download| %>
    <tr>
      <td><%= download.name %></td>
      <td><%= download.download_category.name %></td>
      <td>
        <% download.products.each do |product| %>
        <span><%= product.name %>, </span>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to_edit download, :class => "edit" %>
        <%= link_to_delete download %>
      </td>
    </tr>
  <% end %>
</table>
