<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_download.name %>
</p>

<p>
  <b>Language:</b>
  <%= @admin_download.language_id %>
</p>


<%= link_to 'Edit', edit_admin_download_path(@admin_download) %> |
<%= link_to 'Back', admin_downloads_path %>
