<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.download_category.name') %></th>
    <th class="tc"><%= t('scaffold.actions') %></th>
  </tr>
  <% @download_categories.each do |download_category| %>
    <tr>
      <td><%= download_category.name %></td>
      <td class="actions">
        <%= link_to_edit download_category, :class => "edit" %>
        <%= link_to_delete download_category %>
      </td>
    </tr>
  <% end %>
</table>
